<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @vitamin_store.day %>
</p>

<p>
  <strong>Vita c:</strong>
  <%= @vitamin_store.vita_c %>
</p>

<p>
  <strong>Vita d3:</strong>
  <%= @vitamin_store.vita_d3 %>
</p>

<p>
  <strong>Vita iron:</strong>
  <%= @vitamin_store.vita_iron %>
</p>

<p>
  <strong>Acti vita c:</strong>
  <%= @vitamin_store.acti_vita_c %>
</p>

<p>
  <strong>Acti vita d3:</strong>
  <%= @vitamin_store.acti_vita_d3 %>
</p>

<p>
  <strong>Acti vita iron:</strong>
  <%= @vitamin_store.acti_vita_iron %>
</p>

<%= link_to 'Edit', edit_vitamin_store_path(@vitamin_store) %> |
<%= link_to 'Back', vitamin_stores_path %>
